<form class="container" [formGroup]="form" (submit)="onSubmit(form.value)">
  <div>
    <strong>
      Add a few names to get started
    </strong>
    <ion-list *ngFor="let _ of form.controls; let i = index">
      <ion-item>
        <ion-label position="stacked">
          {{ i + 1 | ordinal }} name
        </ion-label>
        <ion-input [formControlName]="i"></ion-input>
        <ion-icon
          *ngIf="i === form.length - 1"
          name="add-circle-outline"
          color="success"
          slot="end"
          (click)="onCreate()"></ion-icon>
        <ion-icon
          *ngIf="form.length > 1"
          name="remove-circle-outline"
          color="danger"
          slot="end"
          (click)="onDestroy(i)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <ion-button expand="block" type="submit" [disabled]="!form.valid">
    Continue
  </ion-button>
</form>
