$space: 20px;

.container {
  display: flex;
  flex-direction: column;

  & strong {
    margin: $space auto;
  }

  & ion-button {
    margin: $space / 2;
  }

  & ion-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
