<app-page title="Step 2">
  <ion-grid class="app-content">
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="app-card" [ngSwitch]="true">
      <ion-col *ngSwitchCase="isAlpha">
        <ion-card-header>
          <ion-card-title>
            Hand the device to
            <ion-text color="primary">
              {{ sender }}
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary">
            Continue
          </ion-text>
          to select someone
        </ion-card-content>
        <img alt="Alpha" src="/assets/images/alpha.svg"/>
      </ion-col>
      <ion-col *ngSwitchCase="isBravo">
        <ion-card-header>
          <ion-card-title>
            <ion-text color="primary">
              You
            </ion-text>
            selected
            <ion-text color="danger">
              {{ receiver }}
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary">
            Continue
          </ion-text>
          or
          <ion-text color="danger">
            try again
          </ion-text>
          to select someone else
        </ion-card-content>
        <img alt="Bravo" src="/assets/images/bravo.svg"/>
      </ion-col>
      <ion-col *ngSwitchCase="isCharlie">
        <ion-card-header>
          <ion-card-title>
            You've reached the end!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary">
            Continue
          </ion-text>
          or
          <ion-text color="danger">
            restart
          </ion-text>
          the selection process
        </ion-card-content>
        <img alt="Charlie" src="/assets/images/charlie.svg"/>
      </ion-col>
    </ion-row>
    <ion-row [ngSwitch]="true">
      <ion-col>
        <ion-button *ngSwitchCase="isAlpha" class="app-hidden" expand="block">
          Hidden
        </ion-button>
        <ion-button *ngSwitchCase="isBravo" color="danger" expand="block" (click)="selectNextReceiver()">
          Try again
        </ion-button>
        <ion-button *ngSwitchCase="isCharlie" color="danger" expand="block" (click)="ngOnInit()">
          Restart
        </ion-button>
        <ion-button expand="block" (click)="onNextState()">
          Continue
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</app-page>
