<app-step-page>
  <div class="content">
    <div></div>
    <div class="card" [ngSwitch]="true">
      <ng-container *ngSwitchCase="isAlpha">
        <ion-card-header>
          <ion-card-title>
            Hand the device to
            <ion-text color="primary">
              {{ this.sender }}
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary">
            Continue
          </ion-text>
          to select someone
        </ion-card-content>
        <img src="/assets/alpha.svg"/>
      </ng-container>
      <ng-container *ngSwitchCase="isBravo">
        <ion-card-header>
          <ion-card-title>
            <ion-text color="primary">
              You
            </ion-text>
            selected
            <ion-text color="danger">
              {{ this.receiver }}
            </ion-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary">
            Continue
          </ion-text>
          or
          <ion-text color="danger">
            try again
          </ion-text>
          to select someone else
        </ion-card-content>
        <img src="/assets/bravo.svg"/>
      </ng-container>
      <ng-container *ngSwitchCase="isCharlie">
        <ion-card-header>
          <ion-card-title>
            You've reached the end!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary">
            Continue
          </ion-text>
          or
          <ion-text color="danger">
            restart
          </ion-text>
          the selection process
        </ion-card-content>
        <img src="/assets/charlie.svg"/>
      </ng-container>
    </div>
    <div [ngSwitch]="true">
      <ion-button *ngSwitchCase="isAlpha" class="hidden" expand="block"></ion-button>
      <ion-button *ngSwitchCase="isBravo" color="danger" expand="block" (click)="selectNextReceiver()">
        Try again
      </ion-button>
      <ion-button *ngSwitchCase="isCharlie" color="danger" expand="block" (click)="ngOnInit()">
        Restart
      </ion-button>
      <ion-button expand="block" (click)="onNextState()">
        Continue
      </ion-button>
    </div>
  </div>
</app-step-page>
