.DS_Store
.tmp
*.jks
*.log
*.png
*.sublime-project
*.sublime-workspace
*.svg
*.sw[mnpcod]
*.tmp
*.tmp.*
*.ttf
*~
/.gradle
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/android
/coverage
/dist
/node_modules
/package-lock.json
/platforms
/plugins
/www
$RECYCLE.BIN/
build.json
log.txt
npm-debug.log*
Thumbs.db
UserInterfaceState.xcuserstate
