.DS_Store
.tmp
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/package-lock.json
/platforms
/plugins
/www
$RECYCLE.BIN/
log.txt
npm-debug.log*
Thumbs.db
UserInterfaceState.xcuserstate
