$button-size: 200px;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  & > * {
    height: 100%;
    display: flex;
    align-items: center;
  }

  & .title {
    font-size: 300%;
  }

  & .button {
    background: white;
    color: black;
    font-size: 200%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-size;
    height: $button-size;
  }
}
