$space: 20px;

.container {
  justify-content: space-between;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &, & > *:first-child {
    display: flex;
    flex-direction: column;
  }

  & strong {
    margin: $space auto;
  }

  & ion-button {
    margin: $space / 2;
  }

  & ion-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
