<app-page title="Step 1">
  <form [formGroup]="form" (submit)="onSubmit()">
    <ion-grid class="app-content">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>
              <strong>
                Add a few
                <ion-text [color]="form.valid ? 'primary' : 'danger'">
                  names
                </ion-text>
                to get started
              </strong>
            </ion-list-header>
            <ion-item *ngFor="let _ of getControls(); let i = index" formArrayName="names">
              <ion-label position="stacked">
                {{ i + 1 | ordinal }} name
              </ion-label>
              <ion-input type="text" [formControlName]="i"></ion-input>
              <ion-icon *ngIf="canAdd(i)" color="success" name="add-circle-outline" slot="end" (click)="onAdd()"></ion-icon>
              <ion-icon *ngIf="canRemove()" color="danger" name="remove-circle-outline" slot="end" (click)="onRemove(i)"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="!form.valid">
            Continue
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</app-page>
