<step-page>
  <form class="container" [formGroup]="form" (submit)="onSubmit(form.value)">
    <div class="child">
      <strong>
        Add a few
        <ion-text [color]="form.valid ? 'primary' : 'danger'">
          names
        </ion-text>
        to get started
      </strong>
      <ion-list *ngFor="let _ of form.controls; let i = index">
        <ion-item>
          <ion-label position="stacked">
            {{ i + 1 | ordinal }} name
          </ion-label>
          <ion-input [formControlName]="i"></ion-input>
          <ion-icon
            *ngIf="i === form.length - 1"
            name="add-circle-outline"
            color="success"
            slot="end"
            (click)="onAdd()"></ion-icon>
          <ion-icon
            *ngIf="form.length > 1"
            name="remove-circle-outline"
            color="danger"
            slot="end"
            (click)="onRemove(i)"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="block" type="submit" [disabled]="!form.valid">
      Continue
    </ion-button>
  </form>
</step-page>
