<app-page title="Step 1">
  <form class="content" [formGroup]="form" (submit)="onSubmit(form.value)">
    <ion-list>
      <ion-list-header>
        <strong>
          Add a few
          <ion-text [color]="form.valid ? 'primary' : 'danger'">
            names
          </ion-text>
          to get started
        </strong>
      </ion-list-header>
      <ion-item *ngFor="let _ of form.controls; let i = index">
        <ion-label position="stacked">
          {{ i + 1 | ordinal }} name
        </ion-label>
        <ion-input [formControlName]="i"></ion-input>
        <ion-icon
          *ngIf="i === form.length - 1"
          color="success"
          name="add-circle-outline"
          slot="end"
          (click)="onAdd()"></ion-icon>
        <ion-icon
          *ngIf="form.length > 1"
          color="danger"
          name="remove-circle-outline"
          slot="end"
          (click)="onRemove(i)"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" [disabled]="!form.valid">
      Continue
    </ion-button>
  </form>
</app-page>
