@import './app.scss';

@font-face {
  font-family: Handwritten;
  src: url('~src/assets/fonts/Mali-Regular.ttf') format('truetype');
}

img {
  margin-top: $app-space-4;
  max-width: 75%;
}

ion-button {
  text-transform: none;
}

ion-list {
  padding: 0;
}

ion-list-header {
  &.ios {
    font-size: medium;
    padding: 0;
  }
}

.app-card {
  margin: $app-space-3;
  text-align: center;

  & ion-card-title {
    font-size: 165%;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &,
  & ion-col {
    padding: 0;
  }

  & strong {
    margin: $app-space-4 auto;
  }

  & ion-button {
    margin: $app-space-3;
  }

  & ion-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.app-hidden {
  visibility: hidden;
}

.app-title {
  font-family: Handwritten, sans-serif;
  text-align: center;

  & ion-card-title {
    font-size: 300%;
  }

  & ion-card-subtitle {
    font-size: 125%;
    margin-top: $app-space-2;
    text-transform: unset;
  }
}

