.container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);

  & a {
    text-decoration: none;
  }

  & p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }

  & strong {
    font-size: 20px;
    line-height: 26px;
  }
}

ion-content {
  overflow: hidden;
}
