<div class="container">
  <div></div>
  <h1 [ngSwitch]="true">
    <ng-container *ngSwitchCase="isAlpha">
      Hand the device to {{ this.sender }}
    </ng-container>
    <ng-container *ngSwitchCase="isBravo">
      You selected {{ this.receiver }}
    </ng-container>
    <ng-container *ngSwitchCase="isCharlie">
      You've reached the end!
    </ng-container>
  </h1>
  <div>
    <ng-container [ngSwitch]="true">
      <ion-button *ngSwitchCase="isAlpha" expand="block" class="hidden"></ion-button>
      <ion-button *ngSwitchCase="isBravo" expand="block" color="danger" (click)="selectNextReceiver()">
        Try again
      </ion-button>
      <ion-button *ngSwitchCase="isCharlie" expand="block" color="danger" (click)="initialize()">
        Restart
      </ion-button>
    </ng-container>
    <ion-button expand="block" (click)="onNextState()">
      Continue
    </ion-button>
  </div>
</div>
