<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Step 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Step 2
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <strong>
      Ready for the next step?
    </strong>
    <p>
      Continue with the
      <a [routerLink]="['/step-3']">
        exchange
      </a>
    </p>
  </div>
</ion-content>
